<!DOCTYPE html>
<html>
<head>
	<title>vietvuong</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<img src="http://www.upsieutoc.com/images/2016/02/16/10668906_438586979617526_5949495651570107985_o.jpg"/ height="192" width="256" align="center"><h1>Đỗ Việt Vương</h1>
<h2>Thông tin khái quát</h2>
<p>
<li>Tuổi 21</li>
<li>Quê quán : Hà Nội</li>
<li>Chưa kết hôn</li>
<li>email: v2kt95@gmail.com</li>
</p>
<h2>Kinh nghiệm học tập</h2>
<p>
<li>Từ 2010-2013: Học THPT Nguyễn Gia Thiều</li>
<li>Từ 2013-nay: Học tập tại Đại học công nghệ đại học quốc gia Hà Nội, chuyên ngành khoa học máy tính</li> 
</p>
<h2>Tính cách</h2>
<p>Hòa đồng, vui tính, thích gặp gỡ và kết bạn, thích nghe người khác nói và chia sẻ quan điểm</p>
</body>
</html>